# function 

- why do we need function lets understan one scenario you might be workion on simple or complex project
- when you work on complex project break down complex project to smaller task . 
- when you talk about smaller task of course you need to writing multiple statement.
- e.g if you want to operate payment operation in that you need to multiple statement all that statement keep it together & re useable later. 
- all the statment of the tasks are stays together thats why we are creation function

# FUNCTION -->
- Inbuild function  -- print(), type(), id(), sqrt(), max(), min(), sqrt(), ceil(),  etc
- User defined function 
- function is collection of statement
- 2 main property of the function is -- define the function & calling the function 
- function always define with def & function always declares as ()
difference between variable & function || a - variable || b() - function

In [1]:
def nit():
    print('7pm very very very very very smart but some of them lazy')

In [2]:
def nit():
    
    print('7pm very very very very very smart but some of them lazy')
    
nit()

7pm very very very very very smart but some of them lazy

In [3]:
def nit():
    
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
    
    
nit()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio

In [4]:
def nit(): 
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")

nit()

def nit():
    
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
    
 
nit()

def nit():
    
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
    
    
nit()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio

In [6]:
def nit():
    
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
    
    
nit()
nit()
nit()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio

In [7]:
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
nit()


def placment():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous watch ans apply')
placment()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous watch ans apply

In [11]:
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")

def placment():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous watch ans apply')
    
## ==================

nit()

placment()

#hello()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous watch ans apply

In [14]:
def add(x,y):
    
    c=x+y
    print(c)
   
    
add(5,6)

11
-1

In [16]:
def add(x,y):
    c=x+y
    print(c)

def placment():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous watch ans apply')

add(5,6)

print()


placment()

11

7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous watch ans apply

In [17]:
def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

9

In [18]:
def greet():
    print('hello')
    print('good noon')
greet()

def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

hello
good noon
9

In [19]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d 
    
add_sub(4,5)

(9, -1)

In [21]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [22]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

# 14th -- functional argument
    - formal argument
    - actual argument

In [3]:
def add(a,b): # a & b called formal argument
    c = a+b
    print(c)
    
add(5,6) #5 and 6 we called as actual argument

11

In [4]:
def add(a,b,d): # a & b called formal argument
    c = a+b+d
    print(c)
    
add(5,6,7) #5 and 6 we called as actual argument

18

# actual argument is 4 part -->
    - positional argument
    - keyword argument
    - defaul argument
    - variable lenght argument

In [5]:
def person(name,age):
    print(name)
    print(age)
    
person('nit', 22)

nit
22

In [9]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',24, 45)

TypeError: person() takes 2 positional arguments but 3 were given

In [10]:
def person(name,age):
    print(name)
    print(age)
    
person(22,'nit')

22
nit

In [13]:
def person(name,age):
    print(name)
    print(age-5)
    
person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [21]:
def person(name,age):
    print(name)
    print(age-5)
    
person(age=22,name='nit')

nit
17

# keyword argument

In [23]:
def person(name,age, city):
    print(name)
    print(age-5)
    print(city)
    
person(age=22,name='nit', city = 'hyd')

nit
17
hyd

# default argument

In [24]:
def person(name,age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [32]:
def person(name,age= 20):
    print(name)
    print(age)
    
person('nit', 30)

nit
30

In [28]:
def person(name,age=18):
    print(name)
    print(age)
    
person('nit',40)

nit
40

# Variable length

In [35]:
def sum(a, b=10):
    c = a+b
    print(c)
    
sum(5)

15

In [38]:
def sum(a, b):
    c = a+b
    print(c)
    
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [41]:
def sum(a, *b):
    c = a+b
    print(c)
    
sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [42]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [43]:
def sum(a, *b):
    c = a+b
    print(c)
    
sum(5,6,7,8,9)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [ ]:
def sum(a, *b):
    c = a+b
    print(c)
    
sum(5,6,7,8)

In [44]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

In [45]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8,9, 10, 100, 24, 67, 78)

314

In [49]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = 0   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

21

# KWARGS (kEYWORD ARGUMENT + VARIABLE LENGGHT ARGUMENT)

In [51]:
def person():
    person('ALEX', 36, 'JOHN', 987767)

In [52]:
def person(name,*data):
    print(name)
    print(data)

person('ALEX', 36, 'JOHN', 987767)

#hear what is name - is it southcit or AAA thats why we assigned keywords varible arguments

ALEX
(36, 'JOHN', 987767)

In [53]:
def person(name,*data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)
# we got error as keyword argument thats why we add another *

TypeError: person() got an unexpected keyword argument 'age'

In [56]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)
# we got error as keyword argument thats why we add another *

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [57]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767, salary = 100000, comp = 'genpact')
# we got error as keyword argument thats why we add another *

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'salary': 100000, 'comp': 'genpact'}